/* --------------------------------------------- Root / Default elements */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

button {
  border: none;
  letter-spacing: 1;
  text-transform: uppercase;
  cursor: pointer;
}
em {
  font-style: normal;
  color: black;
}

.top-section h1 {
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color: #668e19;
  margin-bottom: 15px;
}

.top-section p {
  width: 600px;
  font-size: 15px;
  color: #bcbec0;
}

/* This removes the white space that mobile views create  */
html,
body {
  overflow-x: hidden;
}

input {
  text-indent: 15px;
}

/* --------------------------------------------- Navbar */

.top-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  height: 50px;
  background-color: black;
}

.top-nav i {
  color: #bdbec0;
  font-size: 15px;
}

.right-section {
  display: flex;
  align-items: center;
  color: white;
}

.right-section button {
  margin-left: 20px;
  padding: 6px 15px;
  font-size: 13px;
  border-radius: 3px;
  background-color: #a2d84c;
  box-shadow: 0 2px 0 0 #668e19;
}

.top-nav .right-section i {
  color: greenyellow;
  margin-left: 18px;
  margin-right: 5px;
}

.right-section h5 {
  color: #bdbec0;
}

.left-section {
  display: flex;
}

.single-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 30px;
  height: 30px;
  background-color: #30302f;
  margin: 0 5px;
  cursor: pointer;
}

.bottom-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
  background-color: rgb(231, 231, 231);
}

.bottom-nav img {
  width: 300px;
}
.bottom-nav ul {
  height: 100px;
  display: flex;
  justify-content: center;
}

.bottom-nav li {
  margin: 0 15px;
  list-style: none;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 40px;
  cursor: pointer;
  font-size: 16px;
}

.bottom-nav li.active {
  font-weight: 900;
  margin-top: 40px;
  padding-bottom: 40px;
  border-bottom: 9px solid coral;
}

@media screen and (max-width: 900px) {
  .top-nav .single-icon {
    width: 25px;
    height: 25px;
  }

  .top-nav button {
    width: 80px;
    font-size: 10px;
  }

  .right-section h5 {
    font-size: 12px;
  }
  .top-nav i {
    font-size: 12px;
  }
}

@media screen and (max-width: 600px) {
  .top-nav {
    display: flex;
    flex-direction: column-reverse;
    padding: 20px 0;
    height: 105px;
    background-color: black;
  }

  .single-icon {
    margin: 0 10px;
  }

  .right-section h5 {
    font-size: 14px;
  }

  .top-nav i {
    font-size: 12px;
  }

  .top-nav button {
    display: none;
  }

  .top-nav .right-section i {
    margin-left: 0;
  }

  .right-section h5 {
    margin-right: 5px;
  }
  .top-nav .right-section i {
    margin-left: 5px;
  }

  .top-nav .single-icon {
    width: 35px;
    height: 35px;
  }
}

/* --------------------------------------------- Landing */

.landing {
  position: relative;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #8dc63f;
  height: 550px;
}

.landing-img {
  width: 100%;
  position: absolute;
}
.landing-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  color: white;
  width: 1000px;
}

.landing .allCircles {
  display: flex;
  position: absolute;
  bottom: 30px;
}

.landing .circles {
  width: 20px;
  height: 20px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: rgba(255, 255, 255, 0.4);
}

.landing .circles.active {
  background-color: #ffffff;
}

.landing-container button {
  padding: 18px 50px;
  font-size: 18px;
  background-color: #ffbd1a;
  box-shadow: 0 5px 0 0 #ff831d;
  border-radius: 6px;
}

.landing-container h1 {
  text-transform: uppercase;
  font-size: 70px;
}

.landing-container p {
  margin: 35px 0;
  font-size: 20px;
  line-height: 1.2;
}

.landing-box {
  background-color: #a2d84c;
  height: 75px;
  width: 750px;
}

.nav-stack {
  display: none;
}

@media screen and (max-width: 1250px) {
  .bottom-nav ul {
    display: none;
  }
  .bottom-nav {
    height: 100px;
  }

  .nav-stack {
    display: flex;
    margin-right: 20px;
    font-size: 35px;
  }

  .landing-container h1 {
    font-size: 50px;
  }
  .landing-container p {
    font-size: 18px;
    width: 60%;
  }

  .landing-img {
    width: 3000px;
  }
}

@media screen and (max-width: 600px) {
  .landing {
    height: 400px;
  }
  .bottom-nav img {
    width: 200px;
  }
  .landing-container p {
    font-size: 15px;
    width: 30%;
  }
  .landing-container h1 {
    font-size: 35px;
  }

  .landing-container button {
    padding: 10px 35px;
    margin-bottom: 30px;
  }

  .landing-img {
    width: 2000px;
  }

  .landing .allCircles {
    display: flex;
    position: absolute;
    bottom: 30px;
    margin-bottom: 10px;
  }

  .landing .circles {
    width: 15px;
    height: 15px;
  }
}
/* --------------------------------------------- advantages */
.advantages {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 520px;
}

.advantages-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 800px;
  letter-spacing: 1.5px;
}

.advantages-container h1 {
  margin-bottom: 15px;
}

.advantages-items {
  display: flex;
  margin-top: 30px;
}

.advantages .single-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 225px;
  margin: 0 10px;
}

.single-item .circle {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 170px;
  border-radius: 100px;
  background-color: #f1f2f2;
  margin-bottom: 15px;
}

.single-item .circle i {
  font-size: 60px;
  color: #8dc63f;
}

.single-item h4 {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  margin-bottom: 5px;
}

.single-item p {
  font-size: 14px;
  color: #bcbec0;
}

@media screen and (max-width: 1250px) {
  .advantages .single-item {
    width: 175px;
    margin: 10px;
  }

  .single-item .circle {
    width: 100px;
    height: 100px;
  }

  .single-item .circle i {
    font-size: 40px;
  }
  .single-item h4 {
    font-size: 14px;
  }
  .single-item p {
    font-size: 12px;
  }
}

@media screen and (max-width: 900px) {
  .advantages .single-item {
    width: 100px;
    margin: 10px;
  }

  .single-item .circle {
    width: 75px;
    height: 75px;
  }

  .single-item .circle i {
    font-size: 30px;
  }
  .single-item h4 {
    font-size: 12px;
  }
  .single-item p {
    font-size: 10px;
  }

  .unique {
    transform: translateX(0);
  }
}

@media screen and (max-width: 600px) {
  .advantages-container h1 {
    font-size: 30px;
  }

  .advantages-container .top-section p {
    font-size: 12px;
    width: 90%;
  }
  .advantages-items {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    column-gap: 40px;
  }

  .advantages {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 760px;
  }

  .advantages .single-item p {
    width: 140px;
  }
  .unique {
    transform: translateX(81px);
  }

  .advantages-container h1 {
    margin-top: 5px;
  }
}
/* --------------------------------------------- about us */

.about-us {
  position: relative;
  background-color: #f1f2f2;
  height: 500px;
  display: flex;
  flex-direction: column;
}

.about-us .left-section {
  display: flex;
  flex-direction: column;
}

.about-us h1 {
  z-index: 1;
  text-align: center;
  text-transform: uppercase;
  font-size: 50px;
  color: #668e19;
  margin-top: 35px;
  margin-bottom: 25px;
}
.about-us .left-section button {
  width: 175px;
  height: 45px;
  font-size: 18px;
  background-color: #ffbd1a;
  box-shadow: 0 3px 0 0 #ff831d;
  border-radius: 6px;
  margin-top: 35px;
}

.about-us .left-section p {
  width: 600px;
  margin-bottom: 20px;
  font-size: 17px;
}

.about-us .left-section p:nth-child(3) {
  margin-bottom: 0;
}

.about-us .left-section p,
.about-us .left-section button {
  margin-left: 50px;
}

.about-us img {
  width: 730px;
  position: absolute;
  right: 0;
  top: 0;
}
@media screen and (max-width: 1327px) {
  .about-us {
    height: 363px;
  }

  .about-us img {
    width: 530px;
  }

  .about-us .left-section p {
    width: 600px;
    font-size: 14px;
    margin-bottom: 10px;
  }

  .about-us .left-section button {
    width: 155px;
    height: 35px;
    font-size: 15px;
    margin-top: 17px;
  }
}

@media screen and (max-width: 1159px) {
  .about-us h1 {
    font-size: 30px;
  }
  .about-us {
    height: 273px;
  }

  .about-us img {
    width: 400px;
  }

  .about-us .left-section p {
    width: 410px;
    font-size: 12px;
    margin-bottom: 10px;
  }

  .about-us .left-section p:nth-child(3) {
    display: none;
  }
  .about-us .left-section button {
    width: 131px;
    height: 34px;
    font-size: 13px;
    margin-top: 17px;
  }
}

@media screen and (max-width: 845px) {
  .about-us {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 340px;
  }

  .about-us h1 {
    margin-top: 0;
    font-size: 30px;
  }

  .about-us img {
    display: none;
  }

  .about-us .left-section {
    align-items: center;
  }

  .about-us .left-section p,
  .about-us .left-section button {
    margin-left: 0;
  }

  .about-us .left-section button {
    margin-top: 20px;
  }

  .about-us .left-section p:nth-child(3) {
    display: none;
  }

  .about-us .left-section p {
    width: 80%;
    font-size: 12px;
    margin-bottom: 10px;
  }
}

/* --------------------------------------------- Our service */

.top-section {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.our-service .top-section p {
  width: 600px;
}

.our-service h1 {
  margin-top: 35px;
  margin-bottom: 15px;
}

.single-block {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  width: 280px;
  height: 200px;
  background-color: #f1f2f2;
  margin: 0 10px;
}

.single-block .icon {
  position: absolute;
  top: -40px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 75px;
  height: 75px;
  background-color: #ffbd1a;
  border-radius: 50px;
}

.single-block h5 {
  text-transform: uppercase;
  font-weight: 400;
  margin-top: 30px;
  margin-bottom: 5px;
}

.single-block p {
  width: 250px;
}
.single-block .icon i {
  font-size: 29px;
  color: #ef4136;
}

.single-block a {
  margin-top: 25px;
  color: #8dc63f;
}

.our-service .bottom-section {
  margin-top: 75px;
  margin-bottom: 55px;
  display: flex;
  justify-content: center;
}

@media screen and (max-width: 1250px) {
  .our-service .bottom-section {
    display: grid;
    grid-template: 300px 300px / 400px 300px;
  }
}

@media screen and (max-width: 750px) {
  .our-service .top-section h1 {
    font-size: 30px;
  }
  .our-service .bottom-section {
    display: grid;
    grid-template: 265px 265px 265px 265px / 300px;
    margin-bottom: 0;
  }

  .our-service .top-section p {
    width: 80%;
  }
}

/* --------------------------------------------- Our portfolio */

.portfolio {
  height: 750px;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio em {
  color: white;
}

.bottom-section .categories {
  display: flex;
}

.bottom-section .categories h2 {
  color: white;
  font-weight: 400;
  text-transform: uppercase;
  font-size: 17px;
  margin: 0 15px;
}

.bottom-section .categories h2.active {
  color: #ff831d;
}

.portfolio .bottom-section {
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.portfolio .gallery {
  margin-top: 25px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr 1fr 1fr 1fr;
}
.gallery .single-image {
  width: 225px;
  height: 225px;
  background-color: rgb(240, 240, 240);
}

.gallery .single-image:nth-child(odd) {
  background-color: rgb(255, 255, 255);
}

@media screen and (max-width: 1250px) {
  .portfolio .gallery {
    margin-top: 25px;
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(5, 1fr);
  }

  .gallery .single-image {
    width: 150px;
    height: 150px;
  }

  .image-unique {
    display: grid;
  }

  .portfolio {
    padding-top: 100px;
  }
}

@media screen and (max-width: 825px) {
  .portfolio .gallery {
    margin-top: 25px;
    display: grid;
    grid-template: repeat(5, 1fr) / repeat(3, 1fr);
  }

  .top-section h1 {
    font-size: 30px;
  }

  .gallery .single-image {
    width: 125px;
    height: 125px;
  }
  .image-unique {
    display: none;
  }

  .bottom-section .categories {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }

  .bottom-section .categories h2 {
    font-size: 14px;
  }

  .portfolio {
    padding-top: 225px;
    height: 650px;
  }
}

@media screen and (max-width: 600px) {
  .gallery .single-image {
    width: 100px;
    height: 100px;
  }

  .top-section h1 {
    font-size: 30px;
  }

  .top-section p {
    width: 85%;
    font-size: 12px;
  }
  .bottom-section .categories h2 {
    font-size: 10px;
    margin: 0 10px;
  }

  .bottom-section .categories {
    display: grid;
    grid-template: repeat(2, 1fr) / repeat(3, 1fr);
  }
  .portfolio {
    padding-top: 175px;
    height: 560px;
  }
}

/* --------------------------------------------- Our Process */

.our-process h1 {
  margin-top: 40px;
}

.our-process .circle {
  background: white;
  border: 4px solid rgba(0, 0, 0, 0.1);
  width: 135px;
  height: 135px;
}

.our-process .single-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 25px;
}

.line {
  display: flex;
  justify-content: center;
  position: absolute;
  z-index: -1;
  top: 65px;
  width: 1000px;
  border-top: 4px solid rgba(0, 0, 0, 0.1);
}

.process-items {
  position: relative;
  margin-top: 50px;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.process-items .single-item {
  position: relative;
  width: 150px;
  text-align: center;
}

.process-items .single-item h5 {
  margin-bottom: 15px;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
}

.process-items .single-item p {
  line-height: 1;
  font-size: 13px;
}

.inner-circle {
  position: absolute;
  top: -15px;
  width: 35px;
  height: 35px;
  background-color: #ffbd1a;
  border-radius: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 1250px) {
  .process-items .single-item {
    width: 110px;
  }

  .process-items .circle h5 {
    font-size: 13px;
  }

  .line {
    display: flex;
    width: 900px;
    top: 66px;
  }
}

@media screen and (max-width: 950px) {
  .process-items .single-item {
    width: 70px;
  }
  .our-process .circle {
    width: 85px;
    height: 85px;
  }

  .line {
    display: flex;
    width: 667px;
    top: 41px;
  }
}

@media screen and (max-width: 725px) {
  .line {
    display: none;
  }
  .process-items {
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
  }
  .process-items .single-item {
    width: 125px;
    margin: 18px 13px;
  }
}
/* --------------------------------------------- People About us */

.horizontal-divider {
  position: absolute;
  top: 155px;
  width: 1000px;
  border-top: 2px solid rgb(206, 206, 206);
}
.vertical-divider {
  position: absolute;
  top: 40px;
  height: 275px;
  border-right: 2px solid rgb(197, 197, 197);
}

.bottom-section {
  position: relative;
  display: flex;
  justify-content: center;
}
.people-about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #f1f2f2;
  height: 525px;
}

.single-profile {
  display: flex;
}
.single-profile h5,
.single-profile p {
  margin-left: 30px;
}

.profile-bio {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.single-profile h5 {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 400;
}
.single-profile p {
  margin-top: 10px;
  font-size: 13px;
  width: 400px;
  line-height: 1;
}

.profile-items {
  margin-top: 40px;
  display: grid;
  grid-template: 1fr 1fr / 1fr 1fr;
  row-gap: 70px;
  column-gap: 60px;
}

.profile-picture {
  width: 85px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  color: #cfcfcf;
  border-radius: 50px;
  background-color: white;
}

.people-about-us .AlltheCircles {
  display: flex;
  margin-top: 60px;
  justify-content: center;
}

.people-about-us .single-circle {
  width: 17px;
  height: 17px;
  border-radius: 10px;
  margin: 0 5px;
  background-color: #ffbd1a;
}

.people-about-us .single-circle.active {
  background-color: #ff831d;
}

@media screen and (max-width: 1100px) {
  .single-profile p {
    width: 260px;
  }
}

@media screen and (max-width: 840px) {
  .single-profile p {
    font-size: 11px;
    width: 200px;
  }
}

@media screen and (max-width: 725px) {
  .people-about-us {
    height: 655px;
  }
  .profile-items .profile-picture {
    width: 60px;
    height: 60px;
  }
  .single-profile p {
    font-size: 12px;
    width: 250px;
  }
  .profile-items {
    margin-left: 15px;
    grid-template: 50px 50px 50px 50px / 1fr;
  }

  .single-profile h5,
  .single-profile p {
    margin-left: 10px;
  }

  .bottom-section .horizontal-divider,
  .bottom-section .vertical-divider {
    display: none;
  }

  .people-about-us .AlltheCircles {
    display: none;
  }
}
/* --------------------------------------------- Our skills */

.our-skills {
  height: 550px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.data-piece {
  position: relative;
  width: 175px;
  height: 175px;
  border: 5px solid;
  border-radius: 100%;
  margin: 80px 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 800;
  font-size: 25px;
}

.data-piece h5 {
  bottom: -75px;
  position: absolute;
  text-transform: uppercase;
  color: black;
  font-size: 18px;
  font-weight: 200;
}

.data-piece img {
  position: absolute;
  width: 205px;
}

.data-piece:hover {
  transform: scale(1.1);
}

.data1 {
  border-color: orange;
  color: orange;
}
.data2 {
  border-color: red;
  color: red;
}
.data3 {
  border-color: #8dc53f;
  color: #8dc53f;
}
.data4 {
  border-color: black;
}

@media screen and (max-width: 1035px) {
  .data-piece {
    width: 135px;
    height: 135px;
  }
  .data-piece img {
    width: 158px;
  }

  .our-skills .data-piece {
    margin: 80px 20px;
  }
}

@media screen and (max-width: 700px) {
  .our-skills .bottom-section {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 200px 200px / 1fr 1fr;
  }

  .our-skills .data-piece {
    margin: 80px 30px;
  }

  .data-piece {
    width: 105px;
    height: 105px;
  }
  .data-piece img {
    width: 123px;
  }

  .data-piece h1 {
    font-size: 25px;
  }
  .data-piece h5 {
    font-size: 14px;
    bottom: -45px;
  }
}

/* --------------------------------------------- Start here */

.start-here {
  height: 350px;
  background-color: #8dc63f;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}

.start-here h1 {
  text-transform: uppercase;
  font-size: 63px;
  margin-bottom: 20px;
}

.start-here button {
  width: 175px;
  height: 45px;
  font-size: 18px;
  background-color: #ffbd1a;
  box-shadow: 0 3px 0 0 #ff831d;
  border-radius: 6px;
  margin-top: 35px;
  margin-left: 15px;
}

.start-here input {
  position: relative;
  top: 3px;
  width: 250px;
  height: 44px;
  border-radius: 5px;
  border: none;
  margin: 0 5px;
  box-shadow: 0 -3px 0 0 rgb(241, 241, 241);
}

.start-here input::placeholder {
  text-transform: uppercase;
  color: rgba(0, 0, 0, 0.2);
}

.start-here p {
  text-align: center;
  margin-top: 25px;
  font-size: 15px;
  width: 750px;
}

@media screen and (max-width: 1035px) {
  .start-here h1 {
    font-size: 30px;
    margin-bottom: 40px;
  }

  .start-here-form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: 25px 100px / 1fr 1fr;
  }

  .start-here button {
    margin: 0 5px;
    width: 250px;
  }
  .start-here p {
    width: 80%;
  }
}

@media screen and (max-width: 565px) {
  .start-here {
    height: 480px;
  }

  .start-here h1 {
    font-size: 20px;
    margin-bottom: 20px;
  }
  .start-here-form {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template: repeat(4, 60px) / 1fr;
  }

  .start-here-form input {
    width: 250px;
  }
  .start-here button {
    margin: 0 5px;
    width: 250px;
  }
  .start-here p {
    font-size: 14px;
  }
}
/* --------------------------------------------- Our contacts */

.our-contacts img {
  position: absolute;
  bottom: 0;
  z-index: -1;
}
.our-contacts {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 350px;
}

.main-container {
  margin: 45px 0;
}

.middle-container {
  margin-top: 10px;
}

.our-contacts .top-section {
  margin-top: 35px;
}

.top-container {
  display: flex;
  align-items: center;
}

.middle-container {
  display: flex;
  justify-content: center;
}
.mid-item {
  margin: 0 40px;
  display: flex;
}

.our-contacts h2 {
  font-weight: 200;
  font-size: 24px;
}

.our-contacts i {
  color: #668e19;
  font-size: 26px;
  margin-right: 17px;
}

.fa-envelope {
  transform: translateY(2px);
}
.our-contact-bg img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

@media screen and (max-width: 1025px) {
  .our-contacts .main-container h2 {
    font-size: 18px;
  }

  .our-contacts .main-container i {
    font-size: 17px;
    margin-right: 10px;
  }

  .our-contacts .main-container .mid-item {
    margin: 0 30px;
  }
}

@media screen and (max-width: 765px) {
  .our-contacts {
    height: 340px;
  }
  .our-contacts .main-container h2 {
    font-size: 13px;
    width: 85%;
  }

  .our-contacts .main-container .middle-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .our-contacts .main-container .mid-item {
    margin: 2px 0;
  }
  .our-contacts .top-container {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .our-contacts .main-container i {
    font-size: 16px;
    margin-right: 10px;
  }
  .our-contact-bg img {
    height: 300px;
  }
}

@media screen and (min-width: 585px) {
  .our-contacts .main-container h2 {
    width: 100%;
  }
}

/* --------------------------------------------- Footer */

.footer {
  background-color: #668e19;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 260px;
}

.footer h1 {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: 600;
}
.footer .left-section {
  display: flex;
  flex-direction: column;
  margin-right: 30px;
}

.footer .left-section img {
  width: 225px;
  margin-bottom: 25px;
}

.footer .left-section p {
  font-size: 12px;
  line-height: 1;
  width: 200px;
  margin-bottom: 60px;
}

.footer .left-section h2 {
  font-size: 14px;
  font-weight: 400;
}

.footer ul {
  list-style: none;
  margin: 0 50px;
}

.footer ul h1 {
  margin-bottom: 10px;
}

.footer ul a {
  color: white;
  font-size: 11px;
}

hr {
  transform: translateY(3px);
  height: 175px;
  opacity: 0.4;
}

.footer-icons {
  display: flex;
}

.footer h5 {
  margin-top: 25px;
  margin-bottom: 10px;
  color: white;
}

.footer-icon i {
  font-size: 13px;
  color: #668e19;
}

.footer-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50px;
  width: 20px;
  height: 20px;
  margin-right: 5px;
  background-color: #30302f;
  cursor: pointer;
}

.contact-footer i {
  font-size: 12px;
}

@media screen and (max-width: 1025px) {
  .footer {
    height: 350px;
    flex-direction: column;
  }

  .footer .left-section p {
    margin: 0;
  }

  .footer .left-section h2 {
    margin-top: 20px;
  }

  .footer .left-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-bottom: 35px;
    margin-right: 0;
  }
  .footer .left-section img {
    margin: 0;
    margin-right: 10px;
  }

  .footer .left-section h2 {
    margin: 0;
  }
}

@media screen and (max-width: 575px) {
  .footer .left-section {
    display: flex;
    flex-direction: column;
  }

  .footer {
    height: 360px;
  }

  .footer .left-section img {
    margin-bottom: 15px;
  }

  .footer .left-section p {
    width: 265px;
    font-size: 13px;
    margin-bottom: 15px;
  }

  .footer hr {
    display: none;
  }

  .footer ul {
    margin: 0;
  }

  .footer h1 {
    font-size: 12px;
  }
  .footer .right-section ul {
    margin: 0 9px;
  }

  .footer .right-section h1 {
    margin: 0;
  }
}
